.trenings__form{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.trenings__form-input{
  display: block;
  margin-top: 15px;
  padding: 15px 20px;
  width: 140px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 18px;
  margin-right: 20px;
}

.trenings__form-button{
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #000000;
  background: transparent;
  height: 53px;
  margin-top: auto;
  cursor: pointer;
  position: relative;
}

.trenings__form-button.error::after{
  content: 'Введите дату и расстояние';
  position: absolute;
  display: block;
  width: 230px;
  color: red;
  right: -245px;
  bottom: 50%;
  transform: translateY(50%);
}

.trenings__titles{
  width: 500px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
}

.trenings__wrapper{
  box-sizing: border-box;
  width: 472px;
  margin: 15px auto 0;
  padding: 25px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.trenings__items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.trenings__items:last-of-type{
  margin-bottom: 0;
}

.trenings__items-close{
  cursor: pointer;
}